.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent !important;
  border-right: 10px solid transparent !important;

  border-bottom: 10px solid #fff;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent !important;
  border-right: 10px solid transparent !important;

  border-top: 10px solid #fff;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;

  border-left: 10px solid #fff;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;

  border-right: 10px solid #fff;
}
