body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url('./img/main_background.svg') no-repeat center top fixed;
	background-size: 110% auto; */
  // background: url("./img/main_background.svg") no-repeat center top fixed;
  background-size: 100% auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: none;
  border-radius: 0;
  cursor: pointer;
  user-select: none;
}

input {
  border: none;
  border-radius: 0;
}

h1 {
  margin: 0;
}

svg {
  width: 100%;
  height: 100%;
}

:root {
  --blue-main: #224aff;
  --blue: #edeff7;
  --blue-2: #b9c3e8;
  --blue-3: #3f3fe9;
  --blue-100: #e4e7f1;
  --blue-0: #344cb9;
}
